<div th:fragment="header">
<div class="u-clearfix u-sheet u-sheet-66">
    <div class="display-flex">
    <a class="u-hover-feature u-image u-logo u-opacity u-image-1"
       data-image-width="385" data-image-height="147">
        <img src="images/2267389.jpg" class="u-logo-image u-logo-image-1">
    </a>
    <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-border-radius u-custom-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
               href="#">
                <svg class="u-svg-link" viewBox="0 0 24 24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                </svg>
                <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect y="1" width="16" height="2"></rect>
                        <rect y="7" width="16" height="2"></rect>
                        <rect y="13" width="16" height="2"></rect>
                    </g>
                </svg>
            </a>
        </div>
        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
                <li class="u-nav-item"><a
                        class="u-border-8 u-button-style u-blue-80 u-hover-custom-color-2 u-nav-link u-radius-8 u-text-active-custom-color-3 u-text-hover-palette-2-base"
                        href="/review" style="padding: 6px 16px;">Отзыв</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-border-8 u-button-style u-blue-80 u-hover-custom-color-2 u-nav-link u-radius-8 u-text-active-custom-color-3 u-text-hover-palette-2-base"
                        href="/" style="padding: 6px 16px;">Главная</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-border-8 u-button-style u-blue-80 u-hover-custom-color-2 u-nav-link u-radius-8 u-text-active-custom-color-3 u-text-hover-palette-2-base"
                        href="/aboutMe" style="padding: 6px 16px;">О нас</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-border-8 u-button-style u-blue-80 u-hover-custom-color-2 u-nav-link u-radius-8 u-text-active-custom-color-3 u-text-hover-palette-2-base"
                        style="padding: 6px 16px;">Поиск</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-border-8 u-button-style u-blue-80 u-hover-custom-color-2 u-nav-link u-radius-8 u-text-active-custom-color-3 u-text-hover-palette-2-base"
                        href="/reg" style="padding: 6px 16px;">Регистрация</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-border-8 u-button-style u-blue-80 u-hover-custom-color-2 u-nav-link u-radius-8 u-text-active-custom-color-3 u-text-hover-palette-2-base"
                        href="/enter" style="padding: 6px 16px;">Вход</a>
                </li>
            </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-inner-container-layout u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Главная</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/aboutMe">О нас</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link">Поиск</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/reg">Регистрация</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/enter">Вход</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
    </nav>
</div>
</div>
</div>